.App {
  text-align: center;
  margin: 5%;
  margin-top: 0%;
}

.App-link {
  color: #61dafb;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

.language-icon {
  width: 4%;
  height: 4%;
}

.react-pdf__Page__textContent {
  margin: auto;
}
.react-pdf__Page__canvas {
  margin: auto;
}
