.App {
  text-align: center;
  margin: 5%;
  margin-top: 0%;
}

.App-link {
  color: #61dafb;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

.language-icon {
  width: 4%;
  height: 4%;
}

.react-pdf__Page__textContent span {
  opacity: 0.1;
}

.react-pdf__Page__textContent span::selection {
  background-color: blue;
}

.react-pdf__Document {
  line-height: initial;
}
