.App {
  text-align: center;
  margin: 5%;
  margin-top: 0%;
}

.App-link {
  color: #61dafb;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

.language-icon {
  width: 4%;
  height: 4%;
}
.react-pdf__Page.pdf-page {
  display: flex;
  justify-content: center;
}
